<mat-card>
    <mat-card-content>
        <h2>Forgot Password Form</h2>
        <form [formGroup] = "submitAnswerForm" (submit)="submitAnswer(submitAnswerForm.value)">
            <!-- <mat-form-field>
                <input matInput formControlName="username" placeholder="username" name="username" required ngModel>
                <span style="color: red; font-size: x-small;" class="text-danger" *ngIf="submitAnswerForm.controls['username'].dirty && submitAnswerForm.hasError('required','username')">Username is required</span>
            </mat-form-field> -->
            {{username}}
            {{userId}}
            {{role}}
            <!-- {{recievedQuestions}} -->
            
            <mat-form-field appearance="fill">
                <mat-label>select your security question</mat-label>
                <mat-select formControlName="question">
                    <mat-option *ngFor="let question of recievedQuestions" [value]="question">
                    {{question}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput formControlName="answer" placeholder="answer" name="answer">
                <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="submitAnswerForm.controls['answer'].dirty && submitAnswerForm.hasError('required','answer')">answer</span>
            </mat-form-field>
            
            <button mat-raised-button color="primary" [disabled]="!submitAnswerForm.valid">get password</button>
        </form>
    </mat-card-content>
</mat-card>


<!-- <div *ngFor="let question of recievedQuestions">{{question}}</div> -->