
<mat-toolbar>
  <div><button style="color: grey;" mat-button routerLink="/create-account">Create Account</button></div>
  <div><button style="color: grey;" mat-button routerLink="/add-beneficiary">Add Beneficiary</button></div>
  <div><button style="color: grey;" mat-button routerLink="/view-beneficiary">View Beneficiary</button></div>
  <div><button style="color: grey;" mat-button routerLink="/customer-transfer">Transfer</button></div>
  <div><button style="color: grey;"mat-button>View Account Statement</button></div>
  <div><button style="color: grey;"mat-button>Update Profile</button></div>
</mat-toolbar>

<h1 style="text-align: center; margin-top: 10px;">Account Beneficiaries</h1>

<table mat-table [dataSource]="items" class="mat-elevation-z8">

    <ng-container matColumnDef="accountNo">
        <th mat-header-cell *matHeaderCellDef> AccountNo </th>
        <td mat-cell *matCellDef="let items"> {{items.beneficiaryNo}}</td>
    </ng-container>

    <ng-container matColumnDef="beneficiaryName">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Name </th>
      <td mat-cell *matCellDef="let items">{{items.beneficiaryName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Remove Beneficiary </th>
      <td mat-cell *matCellDef="let items"> <button (click)="deleteBeneficiary(items.beneficiaryId)" mat-button color="white"><mat-icon class ="trash"color="primary">delete</mat-icon></button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>