<mat-toolbar>
    <div><button style="color: grey;" mat-button routerLink="viewAccounts">View Accounts</button></div>
    <div><button style="color: grey;" mat-button routerLink="createAccount">Create Account</button></div>
    <div><button style="color: grey;" mat-button routerLink="addBeneficiary">Add Beneficiary</button></div>
    <div><button style="color: grey;" mat-button routerLink="viewBeneficiary">View Beneficiary</button></div>
    <div><button style="color: grey;" mat-button routerLink="customerTransfer">Transfer</button></div>
    <div><button style="color: grey;" mat-button routerLink="transactions">View Account Statement</button></div>
    <div><button style="color: grey;" mat-button routerLink="updateUser">Update Profile</button></div>
    <div><button style="color: grey;" mat-button routerLink="createSQA">Setup Recovery Questions</button></div>
</mat-toolbar>

<router-outlet></router-outlet>