<mat-card>
  <mat-card-content>
      <h2>Registration Form</h2>
      <form [formGroup] = "createStaffForm" (submit)="createStaff(createStaffForm.value)">
          <mat-form-field>
              <input matInput formControlName="username" placeholder="Username" name="username" required ngModel>
              <span style="color: red; font-size: x-small;" class="text-danger" *ngIf="createStaffForm.controls['username'].dirty && createStaffForm.hasError('required','username')">Username is required</span>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="fullname" placeholder="FullName" name="fullname" required ngModel>
              <span style="color: red; font-size: x-small;" class="text-danger" *ngIf="createStaffForm.controls['fullname'].dirty && createStaffForm.hasError('required','fullname')">Full Name is required</span>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="password" type="password" placeholder="Password"  name="password" required ngModel>
              <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="createStaffForm.controls['password'].dirty && createStaffForm.hasError('required','password')">Password is required</span>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password"  name="confirmPassword" required ngModel>
              <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="createStaffForm.controls['confirmPassword'].dirty && createStaffForm.hasError('required','confirmPassword')">Confirm Password is required</span>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="mobile" type="number" placeholder="Mobile" name="mobile" required ngModel>
              <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="createStaffForm.controls['mobile'].dirty && createStaffForm.hasError('required','mobile')">Mobile</span>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!createStaffForm.valid">Register</button>
      </form>

  </mat-card-content>
</mat-card>