<mat-card>
    <mat-card-content>
        <h2>Log In</h2>
        <form [formGroup] = "loginForm" (submit)="login(loginForm.value)">
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" name="username" required ngModel>
                <span style="color: red; font-size: x-small;" class="text-danger" *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">Username is required</span>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Password"  name="password" required ngModel>
                <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is required</span>
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        </form>

    </mat-card-content>
</mat-card>