<mat-card>
    <div class = "searchedAccountDetails">
        <div class = "grid-item">
            <div *ngIf="!isFetched">AC No: </div><div *ngIf="isFetched">AC No: {{account.accountNo}}</div>
        </div>
        <div class = "grid-item">
            <div *ngIf="!isFetched">Name: </div><div *ngIf="isFetched">Name: {{account.customerName}}</div>
        </div>
        <div class = "grid-item">
            <div *ngIf="!isFetched">Balance: </div><div *ngIf="isFetched">Balance: ${{account.accountBalance}}</div>
        </div>
    </div>

    <div class="transactionlogs">
        <h1>Transaction Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>Cr/Db</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of account.transactions">
                    <td>{{ item.dateOfTransfer }}</td>
                    <td>{{ item.reason }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <div *ngIf="item.toAccountNo==account.accountNo">CR</div>
                        <div *ngIf="item.fromAccountNo==account.accountNo">DB</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>