<mat-card>
    <mat-card-content>
        <h2>Enter New Password</h2>
        <h4>passwords must match</h4>
        <form [formGroup] = "resetPasswordForm" (submit)="resetPassword(role, userId, resetPasswordForm.value)">

            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Password"  name="password" required ngModel>
                <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">Password is required</span>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password"  name="confirmPassword" required ngModel>
                <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')">Confirm Password is required</span>
                <!-- <div *ngIf= "registrationForm.confirmPassword.errors.mustMatch"> </div> -->
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Register</button>
        </form>

    </mat-card-content>
</mat-card>